/* stilul pagiunii */
body {
    background-color: #f4b26b; 
    font-family: Arial;
    text-align: center;
    margin: 0;
}

/* titlul */
h1 {
    background-color: #3a3a3a;
    color: white;
    margin: 0;
    margin-bottom: 30px;
    padding: 25px;
}

/* galerie*/
.galerie {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* poze */
.galerie img {
    width: 33.33%;
    height: auto;
    margin: 0;
}